@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1e2e59;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

#root {
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  justify-content: center;
}

#task-input {
  border: 0;
  outline: 0;
}

#task-input:focus {
  outline: none !important;
}
